@media only screen and (min-width: 601px){
    .links{
        font-size: 1em;
        width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        /* padding-left: 20%; */
        padding-right: 20%;
        padding-top: .9em;
        right:0;
        left: 0;
        top:0;
       background-color: black;
       z-index: 500;
    }
    
    .links a { 
        text-decoration: none;
        color: white;
        font-family: 'Archivo Black', sans-serif;
    }
    
    #logo{
        height: 150px;
        width: 150px;
    }
    }
    
    
    @media only screen and (max-width: 600px){
        .links{
            /* font-size: .7em; */
            height: 120px;
            width: 100%;
            /* text-decoration: none; */
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
       /* margin: auto; */
            padding-top: 2em;
            right:50;
            left: 50;
            top:0;
           background-color: black;
           z-index: 500;
        }
        
        .links a {
            /* all: none; */
        }
    
    
        .textLinks { 
            display: none;
        
        }
        
        /* .logo{
            height: .7em;
            width: 90%;  
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
          
        } */
    
        #logo{
            height: 100px;
            /* width: auto; */
            padding-bottom: 0;
        }
        }
    