@media screen and (min-width: 601px){
.links{
    font-size: 1em;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 4em; */
    /* margin: 1em; */
    /* margin: 5% auto; */
    /* margin-top: 1em; */
    position: fixed;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1em;
    right:0;
    left: 0;
    top:0;
   background-color: black;
   z-index: 500;
}

.links a { 
    text-decoration: none;
    color: white;
    font-family: 'Archivo Black', sans-serif;
}

#logo{
    height: 150px;
    width: 150px;
}
}