@media only screen and (min-width: 601px){
    .links{
        font-size: 2em;
        width: 100vw;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        margin: auto;
        /* padding-left: 20%; */
        /* margin-right: 20%; */
        padding-top: .9em;
        top:0;
        /* right:20%; */
     
       background-color: black;
       z-index: 500;
    }
    
    .links a { 
        text-decoration: none;
        color: white;
        font-family: 'Archivo Black', sans-serif;
        padding-left:35px;
        padding-right:35px;

    }
    
    #logo{
        height: 150px;
        width: 150px;
    }
    }
    
    
    @media only screen and (max-width: 600px){
        .links{
            /* font-size: .7em; */
            height: 120px;
            width: 100vw;
            /* text-decoration: none; */
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            margin: auto;
            padding-top: 2em;
            top:0;
             background-color: black;
             z-index: 500;
        }
        



 






        .links a {
            /* all: none; */
        }
    
    
        .textLinks { 
            display: none;
        
        }
        
        /* .logo{
            height: .7em;
            width: 90%;  
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
          
        } */
    
        #logo{
            height: 100px;
            /* width: auto; */
            padding-bottom: 0;
        }
        }
    