.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 15em;
    /* width: 500px; */

}

.skill{ 
    /* height: 50px; */
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto 0 auto;
    /* padding-top: 20em; */
}
    

#skill{
    height: 100px;
    width: 100px;
}

.skill p  {
    
    color:white;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: .9px;
    text-align: center;

}

.allSkills{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows:80%;
    width: 90vw;
    margin: auto;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* justify-content
    : space-around; */
    /* align-items: center; */
    margin-bottom: 15em;

}


@media only screen and (max-width:600px){

    #skill{
        height: 20px;
        width: 20px;
    }

.allSkills{
    margin-bottom: 18em;
    
}
    .skill{
        width: 50px;
    }
    .skill p  {
        font-size: .5em;
    }
}